<a href="https://colab.research.google.com/github/argennof/EyCD2022/blob/main/Entregable_2_Nico_parte_1_ejercicio_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import numpy
import pandas as pd

import seaborn
seaborn.set_context('talk')

from sqlalchemy import create_engine, text

Definimos el Dataset "df_melb" con los datos de las viviendas de Melbourne, conjunto de datos de la compentencia Kaggle sobre estimaci√≥n de precios de ventas de propiedades en Melbourne, Australia.

In [ ]:
url = 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv'
df_melb = pd.read_csv(url)

Creamos una base de datos en SQLite utilizando la libreria SQLalchemy del dataset df_melb.

In [ ]:
engine = create_engine('sqlite:///melbourne_data.sqlite3', echo=True)

In [ ]:
df_melb.to_sql('melb_data', con=engine, if_exists="replace")

2022-05-26 20:48:25,425 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("melb_data")
2022-05-26 20:48:25,434 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-26 20:48:25,437 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("melb_data")
2022-05-26 20:48:25,439 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-26 20:48:25,450 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-26 20:48:25,454 INFO sqlalchemy.engine.Engine
CREATE TABLE melb_data (
	"index" BIGINT,
	"Suburb" TEXT,
	"Address" TEXT,
	"Rooms" BIGINT,
	"Type" TEXT,
	"Price" FLOAT,
	"Method" TEXT,
	"SellerG" TEXT,
	"Date" TEXT,
	"Distance" FLOAT,
	"Postcode" FLOAT,
	"Bedroom2" FLOAT,
	"Bathroom" FLOAT,
	"Car" FLOAT,
	"Landsize" FLOAT,
	"BuildingArea" FLOAT,
	"YearBuilt" FLOAT,
	"CouncilArea" TEXT,
	"Lattitude" FLOAT,
	"Longtitude" FLOAT,
	"Regionname" TEXT,
	"Propertycount" FLOAT
)


2022-05-26 20:48:25,457 INFO sqlalchemy.engine.Engine [no key 0.00315s] ()
2022-05-26 20:48:25,495 INFO sqlalchemy.engine.Engine CREATE INDEX ix_melb_data_index ON melb_data ("index")
2022-05-26 20:48:25,497 INFO sqlalchemy.engine.Engine [no key 0.00166s] ()
2022-05-26 20:48:25,511 INFO sqlalchemy.engine.Engine COMMIT
2022-05-26 20:48:25,542 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-26 20:48:26,006 INFO sqlalchemy.engine.Engine INSERT INTO melb_data ("index", "Suburb", "Address", "Rooms", "Type", "Price", "Method", "SellerG", "Date", "Distance", "Postcode", "Bedroom2", "Bathroom", "Car", "Landsize", "BuildingArea", "YearBuilt", "CouncilArea", "Lattitude", "Longtitude", "Regionname", "Propertycount") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-05-26 20:48:26,011 INFO sqlalchemy.engine.Engine [generated in 0.42254s] ((0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0), (1, 'Abbotsford', '25 Bloomburg St', 2, 'h', 1035000.0, 'S', 'Biggin', '4/02/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 156.0, 79.0, 1900.0, 'Yarra', -37.8079, 144.9934, 'Northern Metropolitan', 4019.0), (2, 'Abbotsford', '5 Charles St', 3, 'h', 1465000.0, 'SP', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 0.0, 134.0, 150.0, 1900.0, 'Yarra', -37.8093, 144.9944, 'Northern Metropolitan', 4019.0), (3, 'Abbotsford', '40 Federation La', 3, 'h', 850000.0, 'PI', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 1.0, 94.0, None, None, 'Yarra', -37.7969, 144.9969, 'Northern Metropolitan', 4019.0), (4, 'Abbotsford', '55a Park St', 4, 'h', 1600000.0, 'VB', 'Nelson', '4/06/2016', 2.5, 3067.0, 3.0, 1.0, 2.0, 120.0, 142.0, 2014.0, 'Yarra', -37.8072, 144.9941, 'Northern Metropolitan', 4019.0), (5, 'Abbotsford', '129 Charles St', 2, 'h', 941000.0, 'S', 'Jellis', '7/05/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 181.0, None, None, 'Yarra', -37.8041, 144.9953, 'Northern Metropolitan', 4019.0), (6, 'Abbotsford', '124 Yarra St', 3, 'h', 1876000.0, 'S', 'Nelson', '7/05/2016', 2.5, 3067.0, 4.0, 2.0, 0.0, 245.0, 210.0, 1910.0, 'Yarra', -37.8024, 144.9993, 'Northern Metropolitan', 4019.0), (7, 'Abbotsford', '98 Charles St', 2, 'h', 1636000.0, 'S', 'Nelson', '8/10/2016', 2.5, 3067.0, 2.0, 1.0, 2.0, 256.0, 107.0, 1890.0, 'Yarra', -37.806, 144.9954, 'Northern Metropolitan', 4019.0)  ... displaying 10 of 13580 total bound parameter sets ...  (13578, 'Williamstown', '96 Verdon St', 4, 'h', 2500000.0, 'PI', 'Sweeney', '26/08/2017', 6.8, 3016.0, 4.0, 1.0, 5.0, 866.0, 157.0, 1920.0, None, -37.85908, 144.89299, 'Western Metropolitan', 6380.0), (13579, 'Yarraville', '6 Agnes St', 4, 'h', 1285000.0, 'SP', 'Village', '26/08/2017', 6.3, 3013.0, 4.0, 1.0, 1.0, 362.0, 112.0, 1920.0, None, -37.81188, 144.88449, 'Western Metropolitan', 6543.0))
2022-05-26 20:48:26,111 INFO sqlalchemy.engine.Engine COMMIT

Gerenamos un nuevo Dataset "df_airbnb" con las columnas de interes vistas en clases.

In [ ]:
interesting_cols = [
  'description', 'neighborhood_overview',
  'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode',
  'price', 'weekly_price', 'monthly_price',
  'latitude', 'longitude',
]
df_airbnb = pd.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv',
    usecols=interesting_cols)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Creamos una base de datos en SQLite utilizando la libreria SQLalchemy del dataset df_airbnb.

In [ ]:
df_airbnb.to_sql('melb_data_airbnb', con=engine, if_exists="replace")

2022-05-26 20:50:53,472 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("melb_data_airbnb")
2022-05-26 20:50:53,474 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-26 20:50:53,477 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("melb_data_airbnb")
2022-05-26 20:50:53,479 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-26 20:50:53,489 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-26 20:50:53,496 INFO sqlalchemy.engine.Engine
CREATE TABLE melb_data_airbnb (
	"index" BIGINT,
	description TEXT,
	neighborhood_overview TEXT,
	street TEXT,
	neighborhood TEXT,
	city TEXT,
	suburb TEXT,
	state TEXT,
	zipcode TEXT,
	latitude FLOAT,
	longitude FLOAT,
	price BIGINT,
	weekly_price FLOAT,
	monthly_price FLOAT
)


2022-05-26 20:50:53,499 INFO sqlalchemy.engine.Engine [no key 0.00369s] ()
2022-05-26 20:50:53,517 INFO sqlalchemy.engine.Engine CREATE INDEX ix_melb_data_airbnb_index ON melb_data_airbnb ("index")
2022-05-26 20:50:53,519 INFO sqlalchemy.engine.Engine [no key 0.00191s] ()
2022-05-26 20:50:53,534 INFO sqlalchemy.engine.Engine COMMIT
2022-05-26 20:50:53,569 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-26 20:50:54,257 INFO sqlalchemy.engine.Engine INSERT INTO melb_data_airbnb ("index", description, neighborhood_overview, street, neighborhood, city, suburb, state, zipcode, latitude, longitude, price, weekly_price, monthly_price) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-05-26 20:50:54,266 INFO sqlalchemy.engine.Engine [generated in 0.64381s] ((0, 'House: Clean, New, Modern, Quite, Safe. 10Km from the City. Golf course, Tennis courts, bus stop & shops walking distance!! Rooms: Contains one queen ... (702 characters truncated) ... pproximately what your daily in and out hours might look like.  Note: There is a 5 year old fun loving dog who lives with us and is part of our famil', 'Very safe! Family oriented. Older age group.', 'Bulleen, VIC, Australia', 'Balwyn North', 'Manningham', 'Bulleen', 'VIC', '3105', -37.77268393, 145.0921328, 60, None, None), (1, "A large air conditioned room with queen spring mattress bed in a vintage apartment. Located right outside is a tram to the city just 19 minutes away. ... (702 characters truncated) ... ou east to Bundoora and west to Pacoevale. The Lygon Street tram line that goes past Melbourne University is 10 minutes walk west and Sydney Road and", "This hip area is a crossroads between two great cultural strips of inner Northern Melbourne.  Located in East Brunswick, between High St, Northcote a ... (533 characters truncated) ... re three coffee places within 50metres, and the Lomond Hotel Pub right across the road has good live music and there's also a pizza place downstairs.", 'Brunswick East, VIC, Australia', 'Brunswick', 'Moreland', 'Brunswick East', 'VIC', '3057', -37.76650512, 144.9807361, 35, 200.0, 803.0), (2, 'RIGHT IN THE HEART OF ST KILDA! It doesn\'t get more central than this! A fabulous north facing balcony apartment that offers right in the heart of t ... (703 characters truncated) ... system with iPod dock & DVD/CD player Selection of books, magazines, DVDs, CDs Glass framed console/desk with lamp Bedroom with queen bed, hotel qual', 'A stay at our apartment means you can enjoy some of Melbourne‚Äôs best restaurants, bars, cafes, shopping, dining and night life, all at your doorstep. ... (288 characters truncated) ... ith the city skyline as a stunning backdrop. Our apartment is perfectly suited to those wanting an exclusive, authentic urban residential experience.', 'St Kilda, VIC, Australia', 'St Kilda', 'Port Phillip', 'St Kilda', 'VIC', '3182', -37.85975502, 144.9773691, 159, 1253.0, 4452.0), (3, "Comfortable, relaxed house, a home away from  home! This is a shared house, you will be sharing with me, plus the occasional other guest. Rooms are l ... (702 characters truncated) ... om, watch a movie, or TV, or relax in the back yard. Guest's privacy will be respected at all times. If you need information and tips on where to go,", 'This is a great neighbourhood ‚Äì it is quiet, yet close to so many things. High Street, Northcote (hip bars, cafes and craft stores) are a 10 minute walk east; Sydney Road (ethnic delights and great food) is 8 minute drive west; city is 30 minutes by tram or train.', 'Thornbury, VIC, Australia', 'Thornbury', 'Darebin', 'Thornbury', 'VIC', '3071', -37.75897072, 144.9892279, 50, 250.0, 920.0), (4, 'We offer comfortable accommodation in Inner Melbourne in Clement House, a two storey Victorian built in 1888. Large double bedroom with balcony, priv ... (660 characters truncated) ... n smoking house with an outside courtyard for smokers. The rate for guests that stay for a week are heavily discounted and therefore very attractive.', None, 'St Kilda East, VIC, Australia', 'St Kilda East', 'Port Phillip', 'St Kilda East', 'VIC', '3183', -37.8645303, 144.9922379, 69, 400.0, 1900.0), (5, 'Please note: No booking will be accepted with children under the age of 13 years.  Accommodation is non smoking in apartment & on grounds.  All visit ... (702 characters truncated) ... om, toilet & living area with stereo and 32" LCD TV. A second bedroom (Autumn Room) is available with another Queen size bed for extra travelers if r', 'Our street is quiet & secluded but within walking distance to almost anything you need.', 'Berwick, VIC, Australia', None, 'Casey', 'Berwick', 'VIC', '3806', -38.05725414, 145.3393561, 98, 540.0, None), (6, 'Easy to travel from and to the Airport; quiet and safe neighbourhood; a spacious and sunny room; backyard for sun baking; a friendly host who are eas ... (702 characters truncated) ... ovided here for your comfort is in a two bedroom unit with 100sqm backyard(my green garden). This bedroom is airy and bright with big windows. Your r', "The neighbours are quiet and friendly,  please don't park the car on my driveway because one of our neighbours is doing shifting work as a nurse. There are plenty of space for parking in the guest parking bay and along the street for free.", 'Reservoir, VIC, Australia', None, 'Darebin', 'Reservoir', 'VIC', '3073', -37.69729418, 145.0008156, 50, 335.0, 1400.0), (7, "Comfortable and spacious room in an apartment close to the heart of Melbourne. High quality bedding and good sound proofing guarantees a good night's ... (702 characters truncated) ... take you right into the CBD, via Lonsdale Street and to Grattan Street, Melbourne University Tram 112 onto Collins Street Jolimont train station (10m", "MCG (15min walk) Rod Laver Arena Fitzroy Gardens Smith Street restaurants and bars (10min walk) Melbourne CBD  Parliament House St Vincent's Hospital (12min walk) The Royal Eye and Ear Hospital (11min walk) Keeping active while away: Pool Gym East Melbourne Tennis Club  Fitzroy Gardens", 'East Melbourne, VIC, Australia', None, 'Melbourne', 'East Melbourne', 'VIC', '3002', -37.81026723, 144.98592, 100, None, None)  ... displaying 10 of 22895 total bound parameter sets ...  (22893, "Immaculately presented and carefully maintained executive courtyard apartment, well spaced floor plan comprises a queen-sized bedroom with large mirr ... (702 characters truncated) ... Melbourne Exhibition and Convention Centres, (The Yarra's) Southbank Promenade (boasting an array of cafes, bars, restaurants and boutiques), The Cro", "A plethora of Melbourne highlights are just a few minutes walk away, including Melbourne Exhibition and Convention Centres, (The Yarra's) Southbank P ... (68 characters truncated) ... s), The Crown Casino Complex (offering a further array of dining, shopping and entertainment facilities), Clarendon Street South Melbourne's shopping", 'Southbank, VIC, Australia', 'Southbank', 'Melbourne', 'Southbank', 'VIC', 3006.0, -37.8277951, 144.9549869, 130, None, None), (22894, "An ENTIRE apartment unit ALL TO YOURSELF in Melbourne city, only a 5min walk to Melbourne Central and Queen Victoria Markets. Makes this cozy inner-c ... (702 characters truncated) ... s fully equipped and furnished  home is ready to go with: - Air Conditioning & heating  - Wireless internet (Pocket Wi-Fi) BEDROOM  - Queen sized bed", None, 'Carlton, VIC, Australia', 'Carlton', 'Melbourne', 'Carlton', 'VIC', 3053.0, -37.80518635, 144.9623991, 179, None, None))
2022-05-26 20:50:54,547 INFO sqlalchemy.engine.Engine COMMIT

Revisamos las columnas de cada df para poder elegir las variables con las que trabajaremos

In [ ]:
print(df_melb.columns)
print(df_airbnb.columns)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')
Index(['description', 'neighborhood_overview', 'street', 'neighborhood',
       'city', 'suburb', 'state', 'zipcode', 'latitude', 'longitude', 'price',
       'weekly_price', 'monthly_price'],
      dtype='object')

*Generamos* 3 consultas:
> 1- Cantidad de registros totales por barrio de la tabla melb_data<br>
> 2- Cantidad de registros totales por ciudad de la tabla melb_data_airbnb<br>
> 3- Cantidad de registros totales por barrio de la tabla melb_data_airbnb

In [ ]:
query1 = "SELECT Suburb, COUNT(1) as Total_records_Suburb FROM melb_data GROUP BY Suburb ORDER BY Total_records_Suburb DESC"
query2 = "SELECT city as City, COUNT(1) as Total_records FROM melb_data_airbnb GROUP BY city ORDER BY Total_records DESC"
query3 = "SELECT suburb as Suburb, COUNT(1) as Total_records_Suburb_airbnb FROM melb_data_airbnb GROUP BY Suburb ORDER BY Total_records_Suburb_airbnb DESC"

Probamos las consultas<br>

In [ ]:
with engine.connect() as con:
      rs = con.execute(query2)
      print(query2)
      for row in rs:
          print(row)

      print('\n\n')

2022-05-26 20:54:24,384 INFO sqlalchemy.engine.Engine SELECT city as City, COUNT(1) as Total_records FROM melb_data_airbnb GROUP BY city ORDER BY Total_records DESC
2022-05-26 20:54:24,388 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT city as City, COUNT(1) as Total_records FROM melb_data_airbnb GROUP BY city ORDER BY Total_records DESC
('Melbourne', 7368)
('Port Phillip', 2808)
('Yarra', 2049)
('Stonnington', 1621)
('Moreland', 967)
('Yarra Ranges', 771)
('Darebin', 698)
('Boroondara', 664)
('Glen Eira', 631)
('Whitehorse', 614)
('Monash', 571)
('Maribyrnong', 436)
('Wyndham', 426)
('Bayside', 375)
('Moonee Valley', 344)
('Manningham', 313)
('Kingston', 309)
('Hobsons Bay', 239)
('Banyule', 203)
('Frankston', 177)
('Knox', 175)
('Hume', 170)
('Casey', 153)
('Greater Dandenong', 147)
('Whittlesea', 137)
('Cardinia', 123)
('Maroondah', 115)
('Brimbank', 108)
('Melton', 95)
('Nillumbik', 88)

Controlamos que funcione el c√≥digo comparando la misma b√∫squeda con el df "df_airbnb"

In [ ]:
df_airbnb.city.value_counts()

Melbourne            7368
Port Phillip         2808
Yarra                2049
Stonnington          1621
Moreland              967
Yarra Ranges          771
Darebin               698
Boroondara            664
Glen Eira             631
Whitehorse            614
Monash                571
Maribyrnong           436
Wyndham               426
Bayside               375
Moonee Valley         344
Manningham            313
Kingston              309
Hobsons Bay           239
Banyule               203
Frankston             177
Knox                  175
Hume                  170
Casey                 153
Greater Dandenong     147
Whittlesea            137
Cardinia              123
Maroondah             115
Brimbank              108
Melton                 95
Nillumbik              88
Name: city, dtype: int64

Como funciona, ejecutamos las dos queries que faltan.

In [ ]:
with engine.connect() as con:
      rs = con.execute(query3)
      print(query3)
      for row in rs:
          print(row)

      print('\n\n')

2022-05-26 20:55:01,698 INFO sqlalchemy.engine.Engine SELECT suburb as Suburb, COUNT(1) as Total_records_Suburb_airbnb FROM melb_data_airbnb GROUP BY Suburb ORDER BY Total_records_Suburb_airbnb DESC
2022-05-26 20:55:01,701 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT suburb as Suburb, COUNT(1) as Total_records_Suburb_airbnb FROM melb_data_airbnb GROUP BY Suburb ORDER BY Total_records_Suburb_airbnb DESC
('Melbourne', 4274)
('Southbank', 1236)
('South Yarra', 883)
('Saint Kilda', 805)
('Docklands', 612)
('Richmond', 570)
('Carlton', 537)
('Brunswick', 439)
('Fitzroy', 378)
('North Melbourne', 340)
('Elwood', 328)
('Collingwood', 295)
('South Melbourne', 288)
('Northcote', 283)
('West Melbourne', 263)
('Prahran', 262)
('Abbotsford', 258)
('Port Melbourne', 258)
('Fitzroy North', 238)
('St Kilda', 197)
('Windsor', 195)
('East Melbourne', 193)
('Point Cook', 191)
('Box Hill', 182)
('Hawthorn', 182)
('Saint Kilda East', 182)
('Brunswick East', 179)
('Glen Waverley', 174)
('Footscray', 166)
('Healesville', 151)
('Preston', 142)
('Doncaster', 132)
('Brighton', 124)
('Caulfield North', 119)
('Toorak', 117)
('Carlton North', 114)
('Kensington', 114)
('Thornbury', 113)
('Clayton', 111)
('Coburg', 108)
('Kew', 108)
('Balaclava', 103)
('Malvern East', 95)
('Saint Kilda West', 90)
('Olinda', 87)
('Parkville', 87)
('Camberwell', 86)
('Carnegie', 84)
('Brunswick West', 83)
('Box Hill North', 82)
('Yarraville', 82)
('Hawthorn East', 81)
('Ascot Vale', 80)
('Bundoora', 76)
('Flemington', 74)
('Williamstown', 74)
('Elsternwick', 72)
('Mount Waverley', 72)
('Glen Iris', 71)
('Albert Park', 70)
('Reservoir', 70)
('Warburton', 70)
('Armadale', 67)
('Frankston', 66)
('Clifton Hill', 65)
('Burwood', 61)
('Cheltenham', 60)
('Hampton', 58)
('Balwyn', 57)
('Maribyrnong', 57)
('Werribee', 56)
('Moonee Ponds', 53)
('Bentleigh East', 52)
('Caulfield South', 52)
('Essendon', 50)
('Murrumbeena', 50)
('Sandringham', 50)
('Middle Park', 48)
('Brighton East', 47)
('Doncaster East', 47)
('Heidelberg', 45)
('Truganina', 45)
('Cremorne', 44)
('Newport', 44)
('Ringwood', 44)
('Tarneit', 43)
('Balwyn North', 41)
('Keysborough', 41)
('Rowville', 41)
('Blackburn', 40)
('Emerald', 40)
('Highett', 39)
('Malvern', 39)
('Notting Hill', 39)
('Seaford', 39)
('Surrey Hills', 39)
('Travancore', 39)
('Williams Landing', 39)
('Bentleigh', 38)
('Mitcham', 38)
('West Footscray', 38)
('Alphington', 37)
('Fairfield', 37)
('Frankston South', 37)
('Glenroy', 37)
('Ivanhoe', 36)
('Seddon', 36)
('St Kilda East', 34)
('Box Hill South', 33)
('Craigieburn', 33)
('Parkdale', 33)
('Altona', 32)
('Berwick', 31)
('Dandenong', 29)
('Wantirna South', 29)
('Mount Dandenong', 28)
('Oakleigh East', 28)
('Vermont South', 28)
('Burwood East', 27)
('Caulfield', 27)
('Noble Park', 27)
('Sassafras', 27)
('Mont Albert', 26)
('Ripponlea', 26)
('Ormond', 25)
('Sunshine', 25)
('Warrandyte', 25)
('Caroline Springs', 24)
('Chadstone', 24)
('Coburg North', 24)
('Pascoe Vale', 24)
('Princes Hill', 24)
('Sunbury', 24)
(None, 23)
('Maidstone', 23)
('Templestowe', 23)
('Airport West', 22)
('Beaumaris', 22)
('Bonbeach', 22)
('Glen Huntly', 22)
('Heidelberg Heights', 22)
('Hoppers Crossing', 22)
('Hughesdale', 22)
('Mulgrave', 22)
('Oakleigh South', 22)
('Boronia', 21)
('Bulleen', 21)
('Clayton South', 21)
('Eltham', 21)
('Ferntree Gully', 21)
('Lilydale', 21)
('Mentone', 21)
('Pakenham', 21)
('Springvale', 21)
('Black Rock', 20)
('Canterbury', 20)
('Westmeadows', 20)
('Altona Meadows', 19)
('Badger Creek', 19)
('Belgrave', 19)
('Chelsea', 19)
('Mont Albert North', 19)
('St Kilda West', 19)
('Yarra Glen', 19)
('Aspendale', 18)
('Mill Park', 18)
('Mordialloc', 18)
('Narre Warren', 18)
('Wantirna', 18)
('Altona North', 17)
('Braybrook', 17)
('Epping', 17)
('Greenvale', 17)
('Kalorama', 17)
('Pascoe Vale South', 17)
('Templestowe Lower', 17)
('Tullamarine', 17)
('Ashburton', 16)
('Forest Hill', 16)
('McKinnon', 16)
('Narre Warren South', 16)
('Oakleigh', 16)
('The Patch', 16)
('Vermont', 16)
('Broadmeadows', 15)
('Gembrook', 15)
('Gruyere', 15)
('Laverton', 15)
('Mooroolbark', 15)
('Mt Dandenong', 15)
('Upwey', 15)
('Wyndham Vale', 15)
('Edithvale', 14)
('Hampton East', 14)
('Heatherton', 14)
('Kangaroo Ground', 14)
('Keilor East', 14)
('Melton South', 14)
('Oak Park', 14)
('Patterson Lakes', 14)
('Toolern Vale', 14)
('Ashwood', 13)
('Carrum', 13)
('Chum Creek', 13)
('Cockatoo', 13)
('Croydon', 13)
('Moorabbin', 13)
('Officer', 13)
('Ringwood East', 13)
('Rosanna', 13)
('Wheelers Hill', 13)
('Yarra Junction', 13)
('Bayswater', 12)
('Blackburn South', 12)
('Cranbourne North', 12)
('Croydon North', 12)
('Heidelberg West', 12)
('Kallista', 12)
('Spotswood', 12)
('Thomastown', 12)
('Burnley', 11)
('Caulfield East', 11)
('Chirnside Park', 11)
('Doreen', 11)
('Endeavour Hills', 11)
('Ferny Creek', 11)
('Kingsbury', 11)
('Saint Albans', 11)
('Scoresby', 11)
('South Kingsville', 11)
('South Morang', 11)
('Dixons Creek', 10)
('Donvale', 10)
('Fawkner', 10)
('Kew East', 10)
('Kingsville', 10)
('Lalor', 10)
('Langwarrin South', 10)
('Nunawading', 10)
('Springvale South', 10)
('Cranbourne East', 9)
('Dandenong North', 9)
('Greensborough', 9)
('Hadfield', 9)
('Knoxfield', 9)
('Langwarrin', 9)
('Montmorency', 9)
('Blackburn North', 8)
('Cranbourne West', 8)
('Dandenong Ranges', 8)
('Launching Place', 8)
('Monbulk', 8)
('Park Orchards', 8)
('Ringwood North', 8)
('Sandhurst', 8)
('Seville', 8)
('South Wharf', 8)
('Sunshine North', 8)
('Sunshine West', 8)
('Victoria', 8)
('Viewbank', 8)
('Coldstream', 7)
('Diggers Rest', 7)
('Kealba', 7)
('Keilor Downs', 7)
('Kurunjang', 7)
('Manningham', 7)
('Menzies Creek', 7)
('Mernda', 7)
('Millgrove', 7)
('Mount Evelyn', 7)
('Tecoma', 7)
('The Basin', 7)
('Wandin North', 7)
('Wonga Park', 7)
('Belgrave Heights', 6)
('Clyde North', 6)
('Diamond Creek', 6)
('East Warburton', 6)
('Gardenvale', 6)
('Gladstone Park', 6)
('Gowanbrae', 6)
('Hallam', 6)
('Hillside', 6)
('Keilor Park', 6)
('Kilsyth', 6)
('Lower Plenty', 6)
('Macleod', 6)
('Narre Warren North', 6)
('North Warrandyte', 6)
('Roxburgh Park', 6)
('Sherbrooke', 6)
('Steels Creek', 6)
('Wollert', 6)
('Carrum Downs', 5)
('Clarinda', 5)
('Derrimut', 5)
('Eaglemont', 5)
('East Brunswick', 5)
('Huntingdale', 5)
('Hurstbridge', 5)
('Jacana', 5)
('Keilor', 5)
('Kooyong', 5)
('Lyndhurst', 5)
('Lysterfield', 5)
('Macclesfield', 5)
('Melton West', 5)
('Mt Waverley', 5)
('Niddrie', 5)
('Noble Park North', 5)
('Oaklands Junction', 5)
('Panton Hill', 5)
('Research', 5)
('Seabrook', 5)
('Smiths Gully', 5)
('St. Kilda', 5)
('Strathmore', 5)
('Tarrawarra', 5)
('Werribee South', 5)
('melbourne', 5)
('Â¢®Â∞îÊú¨', 5)
('Aberfeldie', 4)
('Albion', 4)
('Avondale Heights', 4)
('Bayswater North', 4)
('Brighton East, Melbourne', 4)
('Bulla', 4)
('Cairnlea', 4)
('Chelsea Heights', 4)
('Christmas Hills', 4)
('Cranbourne', 4)
('Deer Park', 4)
('Doveton', 4)
('East Doncaster', 4)
('Eynesbury', 4)
('Heathmont', 4)
('Plumpton', 4)
('Selby', 4)
('Taylors Hill', 4)
('Tonimbuk', 4)
('VIC', 4)
('Warneet', 4)
('Beaconsfield', 3)
('Beaconsfield Upper', 3)
('Delahey', 3)
('Don Valley', 3)
('Elwood, Melbourne', 3)
('Elwood, St. Kilda', 3)
('Essendon North', 3)
('Fitzroy, Melbourne', 3)
('Ivanhoe East', 3)
('Kilsyth South', 3)
('Meadow Heights', 3)
('Melbourne City', 3)
('Melbourne, Victoria, AU', 3)
('Mickleham', 3)
('Montrose', 3)
('Mount Toolebewong', 3)
('Seaholme', 3)
('Sydenham', 3)
('Upper Ferntree Gully', 3)
('Wandin East', 3)
('Warranwood', 3)
('Yellingbo', 3)
('Armadale North', 2)
('Bellfield', 2)
('Brookfield', 2)
('Brooklyn', 2)
('Bunyip', 2)
('Collingwood, Melbourne', 2)
('Cora Lynn', 2)
('Cottles Bridge', 2)
('Croydon South', 2)
('Dandenong South', 2)
('Eden Park', 2)
('Eltham North', 2)
('Essendon West', 2)
('Gladysdale', 2)
('Hampton Park', 2)
('Harkaway', 2)
('Hawthorn, Melbourne', 2)
('Hoddles Creek', 2)
('Humevale', 2)
('Kew East, Victoria, AU', 2)
('McMahons Creek', 2)
('Middle Park Melbourne', 2)
('Mount Cottrell', 2)
('Nar Nar Goon North', 2)
('North Fitzroy', 2)
('Northcote South', 2)
('Port Phillip City', 2)
('Rockbank', 2)
('Seville East', 2)
('Silvan', 2)
('Southbank, Victoria, AU', 2)
('St kilda', 2)
('Strathtulloh', 2)
('Toolangi', 2)
('Waterways', 2)
('Watsonia', 2)
('Wheelers Hill VIC 3150', 2)
('Whittlesea', 2)
('Yering', 2)
('Abbotsford, Melbourne', 1)
('Albanvale', 1)
('Albert Park. Melbourne', 1)
('Aspendale Gardens', 1)
('Attwood', 1)
('BRUNSWICK EAST', 1)
('Bangholme', 1)
('Bayles', 1)
('Beveridge', 1)
('Big Pats Creek', 1)
('Botanic Ridge', 1)
('Briar Hill', 1)
('Brimbank City', 1)
('Brisbane', 1)
('Brunswick / Melbourne', 1)
('Brunswick East, Melbourne', 1)
('Brunswick VIC 3056', 1)
('Brunswick West, Melbourne', 1)
('Brunswick west', 1)
('Burnside', 1)
('Burnside Heights', 1)
('Cardinia', 1)
('Cardinia Shire', 1)
('Carlton South', 1)
('Carlton, Melbourne', 1)
('Chum Creek/Healesville', 1)
('City of Port Phillip', 1)
('Clematis', 1)
('Coburg (Melbourne)', 1)
('Cranbourne South', 1)
('Dallas', 1)
('Dingley Village', 1)
('Dockland', 1)
('Doncaster VIC 3108', 1)
('DoncasterÔºåMelbourne', 1)
('Donnybrook', 1)
('East St. Kilda', 1)
('East st kilda', 1)
('Essendon, Victoria, AU', 1)
('Eumemmerring', 1)
('FITZROY', 1)
('Fitzroy, Victoria, AU', 1)
('Frankston North', 1)
('Garfield North', 1)
('Gilderoy', 1)
('Glen Iris, Victoria, AU', 1)
('Guys Hill', 1)
('HEIDELBERG', 1)
('HEIDELBERG WEST', 1)
('Hawthorn east', 1)
('Holmesglen', 1)
('Iona', 1)
('Ivanhoe (Melbourne)', 1)
('Kangaroo ground', 1)
('Keilor Lodge', 1)
('Kinglake West', 1)
('Kings Park', 1)
('Little River', 1)
('Lynbrook', 1)
('Malvern, Melbourne', 1)
('Manor Lakes', 1)
('Maribyrnong, Melbourne', 1)
('Mcmahons Creek', 1)
('Melborne', 1)
('Melbourne (Eltham)', 1)
('Melbourne CBD', 1)
('Melbourne VIC 3000', 1)
('Melbourne VIC 3004', 1)
('Melbourne Victoria', 1)
('Melton South ( STRATHTULLOH)', 1)
('Mlebourne', 1)
('Moreland City', 1)
('Mount Eliza', 1)
('Narbethong', 1)
('North Melbourne, Victoria, AU', 1)
('Northcote, Victoria, AU', 1)
('Oaklands junction', 1)
('Officer South', 1)
('Pakenham Upper', 1)
('Pearcedale', 1)
('Powelltown', 1)
('Praharan', 1)
('Prahran / Toorak', 1)
('Preston West', 1)
('Richmond, Victoria, AU', 1)
('Ripponlea (East St Kilda)', 1)
('STRATHTULLOH', 1)
('STRTHTULLOCH', 1)
('Saint Andrews', 1)
('Saint Helena', 1)
('Saint Kilda Beach', 1)
('Saint Kilda, Victoria, AU', 1)
('Somerton VIC 3062', 1)
('South Melbourne, Melbourne', 1)
('South Yarra VIC 3141', 1)
('South Yarra, Victoria, AU', 1)
('Southbank Melbourne', 1)
('Southbank, Melbourne', 1)
('St Andrews', 1)
('St Kilda / Elwood', 1)
('St Kilda West Melbourne', 1)
('St Kilda east', 1)
('St. Andrews', 1)
('St. Kilda West', 1)
('St.Kilda East', 1)
('StKilda East', 1)
('Strathewen', 1)
('Surrey Hills, Victoria, AU', 1)
('Thornbury, Victoria, AU', 1)
('Tooradin', 1)
('Toorak, Melbourne.', 1)
('Tremont', 1)
('Truganina, Victoria, AU', 1)
('Wantirna South VIC 3152', 1)
('Wantirna south', 1)
('Warrandyte South', 1)
('Watsonia North', 1)
('Watsons Creek', 1)
('Wattle Glen', 1)
('Wesburn', 1)
('Wesburn,10minutes to Warburton', 1)
('West Melbourne - flagstaff', 1)
('Wheelers', 1)
('Whitehorse City', 1)
('Williamstown North', 1)
('Woori Yallock', 1)
('Wyndham City', 1)
('Yarra Glen, Victoria, AU', 1)
('Yarra Ranges Shire', 1)
('Yarra Valley, Yarra Glen, Healesville', 1)
('Yellingbo, Yarra Valley', 1)
('Yuroke', 1)
('brunswick', 1)
('clayton', 1)
('clayton south', 1)
('eaglemont', 1)
('st kilda', 1)
('Â¢®ÁàæÊú¨ Melbourne', 1)
('ËäíÁâπÈü¶ÂºóÂà©Âå∫', 1)

In [ ]:
with engine.connect() as con:
      rs = con.execute(query1)
      print(query1)
      for row in rs:
          print(row)

      print('\n\n')

2022-05-26 20:55:19,512 INFO sqlalchemy.engine.Engine SELECT Suburb, COUNT(1) as Total_records_Suburb FROM melb_data GROUP BY Suburb ORDER BY Total_records_Suburb DESC
2022-05-26 20:55:19,516 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT Suburb, COUNT(1) as Total_records_Suburb FROM melb_data GROUP BY Suburb ORDER BY Total_records_Suburb DESC
('Reservoir', 359)
('Richmond', 260)
('Bentleigh East', 249)
('Preston', 239)
('Brunswick', 222)
('Essendon', 220)
('South Yarra', 202)
('Glen Iris', 195)
('Hawthorn', 191)
('Coburg', 190)
('Northcote', 188)
('Brighton', 186)
('Kew', 177)
('Balwyn North', 171)
('Pascoe Vale', 171)
('Yarraville', 164)
('St Kilda', 162)
('Glenroy', 159)
('Port Melbourne', 153)
('Moonee Ponds', 149)
('Carnegie', 146)
('Bentleigh', 139)
('Thornbury', 139)
('Brighton East', 138)
('Newport', 137)
('Camberwell', 132)
('Footscray', 132)
('Elwood', 131)
('Ascot Vale', 130)
('Hampton', 130)
('Surrey Hills', 125)
('Prahran', 123)
('Keilor East', 121)
('Hawthorn East', 119)
('Kensington', 117)
('Malvern East', 117)
('Doncaster', 116)
('Sunshine', 111)
('Brunswick West', 110)
('Balwyn', 107)
('Williamstown', 107)
('West Footscray', 105)
('Fawkner', 102)
('Toorak', 100)
('Ivanhoe', 98)
('Maribyrnong', 96)
('Armadale', 95)
('Maidstone', 94)
('Fitzroy North', 93)
('Templestowe Lower', 92)
('Brunswick East', 88)
('Sunshine West', 86)
('South Melbourne', 85)
('Burwood', 84)
('Ormond', 83)
('Murrumbeena', 82)
('Niddrie', 82)
('North Melbourne', 81)
('Heidelberg Heights', 78)
('Heidelberg West', 76)
('Altona', 74)
('Avondale Heights', 74)
('Bulleen', 71)
('Albert Park', 69)
('Sunshine North', 68)
('Airport West', 67)
('Malvern', 67)
('Collingwood', 65)
('Moorabbin', 64)
('Oak Park', 63)
('Strathmore', 63)
('Flemington', 62)
('Hadfield', 62)
('Seddon', 62)
('Elsternwick', 61)
('Rosanna', 61)
('Ashburton', 60)
('Windsor', 60)
('Box Hill', 59)
('Fitzroy', 59)
('Oakleigh South', 58)
('Clifton Hill', 57)
('Mount Waverley', 57)
('Abbotsford', 56)
('Altona North', 56)
('Coburg North', 56)
('Canterbury', 54)
('Epping', 52)
('Watsonia', 52)
('Carlton', 51)
('Heidelberg', 51)
('Werribee', 50)
('Kew East', 49)
('Carlton North', 48)
('Caulfield South', 47)
('Craigieburn', 47)
('Oakleigh', 47)
('Ashwood', 46)
('Braybrook', 46)
('Cheltenham', 46)
('Melbourne', 46)
('Glen Waverley', 45)
('Aberfeldie', 44)
('Fairfield', 43)
('Mill Park', 43)
('Lalor', 42)
('Albion', 41)
('Doncaster East', 41)
('Southbank', 41)
('Viewbank', 41)
('Hoppers Crossing', 38)
('Sunbury', 38)
('Bundoora', 36)
('Greensborough', 36)
('Caulfield North', 35)
('Chadstone', 35)
('Hughesdale', 35)
('Alphington', 34)
('Kingsville', 34)
('Middle Park', 34)
('Mont Albert', 34)
('Croydon', 33)
('Parkville', 31)
('West Melbourne', 31)
('Mitcham', 30)
('Mulgrave', 29)
('Spotswood', 29)
('Thomastown', 29)
('Balaclava', 27)
('Highett', 27)
('Essendon West', 26)
('Mentone', 26)
('Wheelers Hill', 26)
('Cremorne', 25)
('Eltham', 25)
('Hampton East', 25)
('Ivanhoe East', 25)
('Jacana', 25)
('Sandringham', 25)
('St Albans', 25)
('Frankston', 24)
('Gowanbrae', 24)
('Parkdale', 24)
('Yallambie', 24)
('Broadmeadows', 23)
('Eaglemont', 23)
('East Melbourne', 22)
('Essendon North', 22)
('Ferntree Gully', 22)
('Forest Hill', 22)
('Keilor Park', 22)
('South Kingsville', 22)
('Taylors Lakes', 22)
('Wantirna South', 22)
('Blackburn', 21)
('Dingley Village', 21)
('South Morang', 21)
('Gladstone Park', 20)
('Nunawading', 20)
('Ringwood', 20)
('Kealba', 19)
('Templestowe', 19)
('Williamstown North', 19)
('Beaumaris', 18)
('Hillside', 18)
('Melton South', 18)
('Mordialloc', 18)
('Glen Huntly', 17)
('Greenvale', 17)
('Meadow Heights', 17)
('Montmorency', 17)
('Bellfield', 16)
('Burwood East', 16)
('Dandenong North', 16)
('Frankston South', 16)
('Heathmont', 16)
('Keilor Downs', 15)
('Roxburgh Park', 15)
('Bayswater', 14)
('Blackburn North', 14)
('Boronia', 14)
('Deer Park', 14)
('Seaford', 14)
('Vermont', 14)
('Westmeadows', 14)
('Berwick', 13)
('Clayton', 13)
('Dandenong', 13)
('Donvale', 13)
('Eltham North', 13)
('Kingsbury', 13)
('Point Cook', 13)
('Tullamarine', 13)
('Vermont South', 13)
('Black Rock', 12)
('Blackburn South', 12)
('Carrum Downs', 12)
('Caulfield', 12)
('Melton', 12)
('Mooroolbark', 12)
('Noble Park', 12)
('Ringwood East', 12)
('Wantirna', 12)
('Caroline Springs', 11)
('Clayton South', 11)
('Keysborough', 11)
('Oakleigh East', 11)
('Ringwood North', 10)
('Rowville', 10)
('Tarneit', 10)
('Travancore', 10)
('Watsonia North', 10)
('Brooklyn', 9)
('Carrum', 9)
('Caulfield East', 9)
('Edithvale', 9)
('Keilor', 9)
('Mernda', 9)
('Ripponlea', 9)
('Springvale', 9)
('Wollert', 9)
('Bayswater North', 8)
('Briar Hill', 8)
('Gisborne', 8)
('McKinnon', 8)
('Melton West', 8)
('Scoresby', 8)
('Aspendale', 7)
('Burnley', 7)
('Cairnlea', 7)
('Croydon North', 7)
('Doveton', 7)
('Huntingdale', 7)
('Narre Warren', 7)
('Taylors Hill', 7)
('Albanvale', 6)
('Altona Meadows', 6)
('Dallas', 6)
('Delahey', 6)
('Diamond Creek', 6)
('Doreen', 6)
('Gardenvale', 6)
('Langwarrin', 6)
('Seaholme', 6)
('Strathmore Heights', 6)
('Chelsea', 5)
('Derrimut', 5)
('Endeavour Hills', 5)
('Hallam', 5)
('Kings Park', 5)
('Lower Plenty', 5)
('Princes Hill', 5)
('Sydenham', 5)
('Truganina', 5)
('Warrandyte', 5)
('Aspendale Gardens', 4)
('Bonbeach', 4)
('Campbellfield', 4)
('Chelsea Heights', 4)
('Clarinda', 4)
('Coolaroo', 4)
('Croydon Hills', 4)
('Frankston North', 4)
('Hampton Park', 4)
('Kilsyth', 4)
('Knoxfield', 4)
('Kurunjang', 4)
('The Basin', 4)
('Wyndham Vale', 4)
('Ardeer', 3)
('Burnside Heights', 3)
('Cranbourne', 3)
('Docklands', 3)
('Notting Hill', 3)
('Pakenham', 3)
('Seabrook', 3)
('Springvale South', 3)
('St Helena', 3)
('Beaconsfield', 2)
('Burnside', 2)
('Chirnside Park', 2)
('Cranbourne North', 2)
('Deepdene', 2)
('Diggers Rest', 2)
('Hurstbridge', 2)
('Keilor Lodge', 2)
('Kooyong', 2)
('Mount Evelyn', 2)
('North Warrandyte', 2)
('Silvan', 2)
('Skye', 2)
('Waterways', 2)
('Williams Landing', 2)
('Attwood', 1)
('Bacchus Marsh', 1)
('Beaconsfield Upper', 1)
('Brookfield', 1)
('Bullengarook', 1)
('Croydon South', 1)
('Emerald', 1)
('Healesville', 1)
('Monbulk', 1)
('Montrose', 1)
('New Gisborne', 1)
('Officer', 1)
('Plumpton', 1)
('Riddells Creek', 1)
('Rockbank', 1)
('Sandhurst', 1)
('Upwey', 1)
('Wallan', 1)
('Whittlesea', 1)
('Wonga Park', 1)
('Yarra Glen', 1)

Vamos a ver el contenido de "zipcode" de la tabla melb_data_airbnb para corroborar que coincidan con los valores de "Postcode" de melb_data con la que haremos el JOIN

In [ ]:
query4 = "SELECT zipcode, COUNT(1) as Records_of_zipcodes FROM melb_data_airbnb GROUP BY zipcode ORDER BY Records_of_zipcodes DESC "
with engine.connect() as con:
      rs = con.execute(query4)
      print(query4)
      for row in rs:
          print(row)

      print('\n\n')

2022-05-24 04:13:26,831 INFO sqlalchemy.engine.Engine SELECT zipcode, COUNT(1) as Records_of_zipcodes FROM melb_data_airbnb GROUP BY zipcode ORDER BY Records_of_zipcodes DESC
2022-05-24 04:13:26,834 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT zipcode, COUNT(1) as Records_of_zipcodes FROM melb_data_airbnb GROUP BY zipcode ORDER BY Records_of_zipcodes DESC
('3000.0', 2491)
('3000', 876)
('3006.0', 860)
('3182.0', 579)
('3182', 556)
('3004.0', 555)
('3141.0', 526)
('3008.0', 506)
('3006', 408)
('3121.0', 371)
('3141', 355)
('3053.0', 349)
('3181.0', 275)
('3056.0', 257)
('3121', 257)
('3065', 220)
('3003.0', 216)
('3051.0', 198)
('3030.0', 190)
('3053', 189)
('3056', 189)
('3205.0', 186)
('3181', 185)
('3183.0', 181)
('3184', 181)
('3004', 173)
('3128.0', 169)
('3065.0', 167)
('3066.0', 166)
('3070.0', 164)
('3068', 160)
('3067.0', 157)
('3184.0', 154)
('3068.0', 148)
('3207.0', 146)
('3183', 145)
(None, 142)
('3150.0', 141)
('3051', 140)
('3066', 131)
('3011.0', 128)
('3108.0', 123)
('3031.0', 122)
('3070', 120)
('3122.0', 115)
('3168.0', 115)
('3205', 114)
('3032.0', 113)
('3207', 111)
('3008', 110)
('3002', 107)
('3057.0', 101)
('3067', 101)
('3777', 99)
('3072.0', 97)
('3163.0', 96)
('3002.0', 90)
('3777.0', 88)
('3129.0', 85)
('3029.0', 84)
('3057', 84)
('3058.0', 84)
('3054.0', 81)
('3142.0', 77)
('3145.0', 76)
('3083.0', 73)
('3206', 72)
('3011', 70)
('3161.0', 70)
('3122', 69)
('3030', 68)
('3101.0', 67)
('3031', 66)
('3032', 63)
('3186.0', 63)
('3185.0', 61)
('3186', 61)
('3071', 60)
('3163', 60)
('3199', 58)
('3054', 57)
('3204.0', 57)
('3016.0', 54)
('3071.0', 54)
('3052.0', 53)
('3149.0', 53)
('3055.0', 52)
('3124.0', 52)
('3161', 52)
('3003', 51)
('3146.0', 50)
('3206.0', 50)
('3058', 49)
('3788.0', 49)
('3150', 48)
('3799.0', 48)
('3125.0', 47)
('3166.0', 47)
('3192.0', 47)
('3012.0', 46)
('3073.0', 46)
('3123.0', 45)
('3128', 45)
('3185', 45)
('3199.0', 45)
('3072', 44)
('3084.0', 44)
('3046.0', 43)
('3103.0', 43)
('3013.0', 42)
('3015.0', 42)
('3127.0', 41)
('3130.0', 41)
('3142', 41)
('3162.0', 41)
('3799', 41)
('3013', 40)
('3101', 40)
('3145', 40)
('3162', 40)
('3188.0', 40)
('3788', 40)
('3152.0', 39)
('3196.0', 39)
('3078.0', 38)
('3134.0', 38)
('3052', 37)
('3168', 37)
('3173.0', 37)
('3195.0', 37)
('3040.0', 36)
('3078', 36)
('3123', 36)
('3124', 36)
('3055', 35)
('3143.0', 35)
('3165.0', 35)
('3178.0', 35)
('3109.0', 34)
('3143', 34)
('3195', 34)
('3027.0', 33)
('3020.0', 32)
('3187.0', 32)
('3039.0', 31)
('3188', 31)
('3012', 30)
('3028.0', 30)
('3064.0', 30)
('3144.0', 30)
('3767.0', 30)
('3029', 29)
('3132.0', 29)
('3133.0', 29)
('3175.0', 29)
('3084', 28)
('3042.0', 27)
('3044.0', 27)
('3127', 27)
('3018.0', 26)
('3191', 26)
('3775.0', 26)
('3977.0', 26)
('3337.0', 25)
('3805.0', 25)
('3081.0', 24)
('3149', 24)
('3156.0', 24)
('3191.0', 24)
('3193.0', 24)
('3198.0', 24)
('3782.0', 24)
('3015', 23)
('3104.0', 23)
('3166', 23)
('3204', 23)
('3806.0', 23)
('3023.0', 22)
('3073', 22)
('3079', 22)
('3146', 22)
('3190.0', 22)
('3782', 22)
('3039', 21)
('3148.0', 21)
('3151.0', 21)
('3187', 21)
('3429.0', 21)
('3016', 20)
('3040', 20)
('3105.0', 20)
('3139.0', 20)
('3196', 20)
('3047.0', 19)
('3109', 19)
('3113.0', 19)
('3129', 19)
('3167.0', 19)
('3169.0', 19)
('3170.0', 19)
('3171.0', 19)
('3338.0', 19)
('3775', 19)
('3977', 19)
('3043.0', 18)
('3104', 18)
('3106.0', 18)
('3108', 18)
('3130', 18)
('3131.0', 18)
('3134', 18)
('3139', 18)
('3155.0', 18)
('3160.0', 18)
('3193', 18)
('3197.0', 18)
('3810.0', 18)
('3046', 17)
('3136.0', 17)
('3174.0', 17)
('3190', 17)
('3024.0', 16)
('3079.0', 16)
('3082.0', 16)
('3107.0', 16)
('3147.0', 16)
('3165', 16)
('3770.0', 16)
('3095', 15)
('3133', 15)
('3144', 15)
('3174', 15)
('3198', 15)
('3754.0', 15)
('3081', 14)
('3083', 14)
('3095.0', 14)
('3103', 14)
('3125', 14)
('3126.0', 14)
('3160', 14)
('3766', 14)
('3787', 14)
('3019.0', 13)
('3020', 13)
('3021.0', 13)
('3023', 13)
('3044', 13)
('3059.0', 13)
('3147', 13)
('3175', 13)
('3192', 13)
('3787.0', 13)
('3064', 12)
('3113', 12)
('3138.0', 12)
('3140', 12)
('3194.0', 12)
('3767', 12)
('3797', 12)
('3018', 11)
('3043', 11)
('3049', 11)
('3097.0', 11)
('3179.0', 11)
('3202.0', 11)
('3037.0', 10)
('3049.0', 10)
('3135.0', 10)
('3169', 10)
('3172.0', 10)
('3752.0', 10)
('3792', 10)
('3806', 10)
('3025', 9)
('3033', 9)
('3060.0', 9)
('3074.0', 9)
('3076.0', 9)
('3126', 9)
('3131', 9)
('3132', 9)
('3136', 9)
('3140.0', 9)
('3152', 9)
('3153.0', 9)
('3158', 9)
('3194', 9)
('3197', 9)
('3805', 9)
('3809.0', 9)
('3025.0', 8)
('3028', 8)
('3042', 8)
('3076', 8)
('3099', 8)
('3151', 8)
('3180.0', 8)
('3766.0', 8)
('3770', 8)
('3781', 8)
('3783.0', 8)
('3789', 8)
('3791.0', 8)
('3793.0', 8)
('3802.0', 8)
('3021', 7)
('3075.0', 7)
('3088', 7)
('3094.0', 7)
('3115', 7)
('3135', 7)
('3153', 7)
('3189.0', 7)
('3757.0', 7)
('3783', 7)
('3786.0', 7)
('3911', 7)
('3027', 6)
('3037', 6)
('3038.0', 6)
('3041.0', 6)
('3097', 6)
('3102', 6)
('3102.0', 6)
('3116.0', 6)
('3158.0', 6)
('3159', 6)
('3159.0', 6)
('3178', 6)
('3189', 6)
('3335.0', 6)
('3338', 6)
('3792.0', 6)
('3797.0', 6)
('3033.0', 5)
('3063.0', 5)
('3106', 5)
('3111', 5)
('3111.0', 5)
('3114', 5)
('3116', 5)
('3137.0', 5)
('3148', 5)
('3156', 5)
('3177.0', 5)
('3750.0', 5)
('3760', 5)
('3781.0', 5)
('3796', 5)
('3803.0', 5)
('3809', 5)
('3975.0', 5)
('3034.0', 4)
('3036.0', 4)
('3059', 4)
('3085', 4)
('3088.0', 4)
('3089.0', 4)
('3093.0', 4)
('3137', 4)
('3154.0', 4)
('3167', 4)
('3173', 4)
('3427', 4)
('3754', 4)
('3759.0', 4)
('3786', 4)
('3808', 4)
('3810', 4)
('3815.0', 4)
('3910', 4)
('3910.0', 4)
('3978', 4)
('3980.0', 4)
('3048.0', 3)
('3074', 3)
('3075', 3)
('3087.0', 3)
('3105', 3)
('3107', 3)
('3114.0', 3)
('3154', 3)
('3155', 3)
('3170', 3)
('3201.0', 3)
('3202', 3)
('3427.0', 3)
('3428.0', 3)
('3429', 3)
('3802', 3)
('3804', 3)
('3804.0', 3)
('3814.0', 3)
('3815', 3)
('3911.0', 3)
('3978.0', 3)
('3019', 2)
('3024', 2)
('3038', 2)
('3041', 2)
('3047', 2)
('3063', 2)
('3082', 2)
('3085.0', 2)
('3089', 2)
('3093', 2)
('3094', 2)
('3099.0', 2)
('3138', 2)
('3171', 2)
('3172', 2)
('3180', 2)
('3201', 2)
('3765.0', 2)
('3791', 2)
('3795.0', 2)
('3796.0', 2)
('3807', 2)
('3807.0', 2)
('3976.0', 2)
('2010.0', 1)
('2134.0', 1)
('2582.0', 1)
('3000\n3000', 1)
('3001', 1)
('3001.0', 1)
('30122', 1)
('3036', 1)
('3048', 1)
('3084\n\n3084', 1)
('3096', 1)
('3200.0', 1)
('3337', 1)
('3428', 1)
('3750', 1)
('3752', 1)
('3753.0', 1)
('3759', 1)
('3761', 1)
('3761.0', 1)
('3765', 1)
('3778.0', 1)
('3785.0', 1)
('3803', 1)
('3812', 1)
('3812.0', 1)
('3912', 1)
('3930', 1)
('3930.0', 1)
('3975', 1)
('3980', 1)
('3981.0', 1)
('4068.0', 1)
('5203.0', 1)
('5791.0', 1)
('6791.0', 1)
('7266.0', 1)
('7367.0', 1)
('8938.0', 1)
('9004.0', 1)
('9540.0', 1)
('VIC', 1)
('VIC 3161', 1)

Se observan que los dos resultados con mayor frecuencia son 3000.0 con 2491 apariciones y 3000 con 876, siendo en realidad el mismo c√≥digo postal.<br>
Adem√°s, filtramos por zipcode y calculamos el promedio de los precios diarios, semanales y mensuales.

In [ ]:
query5 = """
SELECT zipcode,  
    AVG(price) as price_mean, 
    AVG(weekly_price) as weekly_price_mean, 
    AVG(monthly_price) as monthly_price_mean
FROM (
    SELECT 
        CAST(zipcode AS float) as zipcode,
        price,
        weekly_price,
        monthly_price
    FROM melb_data_airbnb
      )
WHERE zipcode IS NOT NULL
GROUP BY zipcode
ORDER BY zipcode DESC
"""
with engine.connect() as con:
      rs = con.execute(query5)
      print(query5)
      for row in rs:
          print(row)

2022-05-24 04:13:38,039 INFO sqlalchemy.engine.Engine
SELECT zipcode,
    AVG(price) as price_mean,
    AVG(weekly_price) as weekly_price_mean,
    AVG(monthly_price) as monthly_price_mean
FROM (
    SELECT
        CAST(zipcode AS float) as zipcode,
        price,
        weekly_price,
        monthly_price
    FROM melb_data_airbnb
      )
WHERE zipcode IS NOT NULL
GROUP BY zipcode
ORDER BY zipcode DESC

2022-05-24 04:13:38,042 INFO sqlalchemy.engine.Engine [raw sql] ()

SELECT zipcode,
    AVG(price) as price_mean,
    AVG(weekly_price) as weekly_price_mean,
    AVG(monthly_price) as monthly_price_mean
FROM (
    SELECT
        CAST(zipcode AS float) as zipcode,
        price,
        weekly_price,
        monthly_price
    FROM melb_data_airbnb
      )
WHERE zipcode IS NOT NULL
GROUP BY zipcode
ORDER BY zipcode DESC

(30122.0, 75.0, 525.0, 2281.0)
(9540.0, 245.0, None, None)
(9004.0, 226.0, None, None)
(8938.0, 296.0, None, None)
(7367.0, 230.0, None, None)
(7266.0, 220.0, None, None)
(6791.0, 220.0, None, None)
(5791.0, 299.0, None, None)
(5203.0, 212.0, None, None)
(4068.0, 37.0, None, None)
(3981.0, 130.0, None, None)
(3980.0, 86.4, None, None)
(3978.0, 177.0, 950.6666666666666, 7770.0)
(3977.0, 92.95555555555555, 422.0, 1025.0)
(3976.0, 55.0, None, None)
(3975.0, 99.5, 850.0, 3000.0)
(3930.0, 114.5, None, None)
(3912.0, 89.0, None, None)
(3911.0, 334.6, 1340.0, 6350.0)
(3910.0, 118.0, 250.0, None)
(3815.0, 315.2857142857143, 1000.0, 2000.0)
(3814.0, 180.0, None, None)
(3812.0, 262.0, None, None)
(3810.0, 94.95454545454545, 723.3333333333334, 3800.0)
(3809.0, 76.21428571428571, 286.0, 1008.0)
(3808.0, 278.5, 1800.0, 7500.0)
(3807.0, 85.75, 709.5, 2714.0)
(3806.0, 488.27272727272725, 540.0, None)
(3805.0, 225.23529411764707, 622.0, 2178.6666666666665)
(3804.0, 193.83333333333334, 450.0, 1650.0)
(3803.0, 140.16666666666666, None, None)
(3802.0, 63.27272727272727, 380.0, None)
(3799.0, 196.93258426966293, 992.6666666666666, 2194.3333333333335)
(3797.0, 265.72222222222223, 1373.3333333333333, 4000.0)
(3796.0, 154.57142857142858, 950.0, 2900.0)
(3795.0, 149.5, None, None)
(3793.0, 126.875, None, None)
(3792.0, 282.8125, 631.0, None)
(3791.0, 221.3, None, None)
(3789.0, 362.75, 1450.0, 4550.0)
(3788.0, 249.37078651685394, 1547.5, 5441.5)
(3787.0, 253.03703703703704, 1088.0, 3150.0)
(3786.0, 345.3636363636364, 762.0, 2688.0)
(3785.0, 251.0, None, None)
(3783.0, 177.73333333333332, 1047.5, None)
(3782.0, 188.58695652173913, 804.8, 2975.0)
(3781.0, 195.0, 903.75, 3000.0)
(3778.0, 163.0, None, None)
(3777.0, 271.2566844919786, 1278.5121951219512, 3802.1875)
(3775.0, 337.68888888888887, 733.1666666666666, 2800.0)
(3770.0, 396.1666666666667, 1050.0, 3200.0)
(3767.0, 215.66666666666666, 814.0, 2784.5)
(3766.0, 259.27272727272725, 1113.3333333333333, 4166.666666666667)
(3765.0, 325.0, None, None)
(3761.0, 180.0, None, None)
(3760.0, 135.2, 750.0, 2000.0)
(3759.0, 162.0, None, None)
(3757.0, 245.0, None, None)
(3754.0, 115.15789473684211, 450.0, 1650.0)
(3753.0, 302.0, None, None)
(3752.0, 63.90909090909091, None, None)
(3750.0, 43.5, None, None)
(3429.0, 131.29166666666666, None, None)
(3428.0, 287.25, None, None)
(3427.0, 255.14285714285714, 1125.0, 5250.0)
(3338.0, 95.48, 550.0, None)
(3337.0, 110.8076923076923, None, None)
(3335.0, 137.33333333333334, None, None)
(3207.0, 200.2101167315175, 1480.7906976744187, 4743.964285714285)
(3206.0, 229.41803278688525, 1187.4, 3734.0)
(3205.0, 214.84666666666666, 1226.0243902439024, 4125.225806451613)
(3204.0, 114.6125, 719.2222222222222, 2936.0)
(3202.0, 335.7142857142857, None, None)
(3201.0, 88.0, 678.0, 2345.0)
(3200.0, 40.0, None, None)
(3199.0, 174.96116504854368, 802.2857142857143, 3041.0)
(3198.0, 110.0, 638.4444444444445, 2379.3)
(3197.0, 140.37037037037038, 658.3333333333334, 2333.3333333333335)
(3196.0, 120.69491525423729, 936.0, 2373.0)
(3195.0, 143.04225352112675, 649.2857142857143, 2539.0)
(3194.0, 153.0, None, 1500.0)
(3193.0, 215.92857142857142, 1546.0, 6171.333333333333)
(3192.0, 115.06666666666666, 901.3333333333334, 2336.6666666666665)
(3191.0, 195.72, 1118.7, 4375.857142857143)
(3190.0, 154.56410256410257, 832.6, 3421.4)
(3189.0, 97.0, None, None)
(3188.0, 245.11267605633802, 1273.6, 4694.555555555556)
(3187.0, 193.8679245283019, 376.875, 1116.0)
(3186.0, 268.2983870967742, 1029.4615384615386, 5467.083333333333)
(3185.0, 154.1320754716981, 826.1, 3374.9)
(3184.0, 147.45373134328358, 1099.962962962963, 3581.2727272727275)
(3183.0, 127.51840490797547, 795.530612244898, 2761.0625)
(3182.0, 147.7295154185022, 1051.4410256410256, 3847.4)
(3181.0, 148.1695652173913, 868.1481481481482, 3304.3823529411766)
(3180.0, 282.5, None, None)
(3179.0, 76.54545454545455, None, None)
(3178.0, 81.8780487804878, None, None)
(3177.0, 161.6, None, None)
(3175.0, 185.57142857142858, 1140.0, 4359.0)
(3174.0, 49.0, 276.25, 783.6666666666666)
(3173.0, 71.60975609756098, 300.0, None)
(3172.0, 79.66666666666667, 680.0, 2500.0)
(3171.0, 67.85714285714286, None, None)
(3170.0, 59.45454545454545, None, None)
(3169.0, 82.6896551724138, 286.5, 951.5)
(3168.0, 77.42763157894737, 379.3076923076923, 1217.0)
(3167.0, 107.21739130434783, None, None)
(3166.0, 113.14285714285714, 459.2857142857143, 1536.1666666666667)
(3165.0, 113.03921568627452, 563.2, 2032.8)
(3163.0, 94.2051282051282, 553.1538461538462, 2047.75)
(3162.0, 130.11111111111111, 1192.0, 4314.416666666667)
(3161.0, 127.42622950819673, 1242.9285714285713, 3429.818181818182)
(3160.0, 190.0, 954.0, 2450.0)
(3159.0, 185.75, 1452.0, 4100.0)
(3158.0, 150.0, 795.0, 2000.0)
(3156.0, 125.27586206896552, None, None)
(3155.0, 95.57142857142857, 324.5, 1099.5)
(3154.0, 107.14285714285714, 390.0, 1350.0)
(3153.0, 91.75, 952.0, 3512.0)
(3152.0, 92.3125, 590.0, 2126.4)
(3151.0, 97.65517241379311, 600.0, 2200.0)
(3150.0, 124.02645502645503, 526.35, 1901.611111111111)
(3149.0, 119.41558441558442, 450.2857142857143, 1588.5)
(3148.0, 79.5, 197.5, 1660.3333333333333)
(3147.0, 82.75862068965517, 520.0, None)
(3146.0, 135.83333333333334, 770.1111111111111, 2940.75)
(3145.0, 116.26724137931035, 416.53846153846155, 980.0)
(3144.0, 290.84444444444443, 1984.375, 8634.2)
(3143.0, 192.46376811594203, 743.1818181818181, 3130.5)
(3142.0, 244.5, 1168.8235294117646, 4471.833333333333)
(3141.0, 157.91259931895573, 1040.4036697247707, 3417.811111111111)
(3140.0, 168.95238095238096, 1366.6666666666667, None)
(3139.0, 247.55263157894737, 1882.125, 2934.6666666666665)
(3138.0, 110.5, None, None)
(3137.0, 109.77777777777777, 1300.0, 7000.0)
(3136.0, 84.8076923076923, 742.0, 2529.6666666666665)
(3135.0, 104.11764705882354, None, None)
(3134.0, 116.58928571428571, 354.6666666666667, 1202.3333333333333)
(3133.0, 76.18181818181819, 660.0, 3980.0)
(3132.0, 68.60526315789474, None, None)
(3131.0, 112.5925925925926, 465.2, 1975.0)
(3130.0, 102.57627118644068, 501.75, 2147.1428571428573)
(3129.0, 113.0, 133.0, 527.0)
(3128.0, 111.44392523364486, 426.375, 1610.625)
(3127.0, 86.41176470588235, 444.5, 1699.0)
(3126.0, 148.1304347826087, 922.0, 2702.0)
(3125.0, 88.14754098360656, 383.75, 870.0)
(3124.0, 138.5568181818182, 526.6666666666666, 2742.5714285714284)
(3123.0, 151.2962962962963, 1340.6666666666667, 6069.0)
(3122.0, 180.57065217391303, 1726.4166666666667, 8158.9)
(3121.0, 162.26273885350318, 1089.0681818181818, 3771.90625)
(3116.0, 349.1818181818182, 390.5, 1261.0)
(3115.0, 224.14285714285714, 2236.6666666666665, 10060.0)
(3114.0, 270.0, 640.0, None)
(3113.0, 281.93548387096774, 678.125, 1976.6666666666667)
(3111.0, 151.8, 624.3333333333334, 2217.0)
(3109.0, 117.0, 1042.142857142857, 4311.8)
(3108.0, 128.82978723404256, 1137.5, 5125.25)
(3107.0, 228.26315789473685, 350.0, 1400.0)
(3106.0, 127.21739130434783, None, None)
(3105.0, 116.26086956521739, 528.0, 2000.0)
(3104.0, 97.26829268292683, 1118.0, 4063.0)
(3103.0, 105.26315789473684, 606.75, 2111.25)
(3102.0, 759.0833333333334, 1589.0, 5627.0)
(3101.0, 139.5981308411215, 609.75, 1300.0)
(3099.0, 136.0, 586.25, 2119.3333333333335)
(3097.0, 147.41176470588235, 1098.3333333333333, 4157.0)
(3096.0, 100.0, 250.0, 1500.0)
(3095.0, 112.0, 701.6, 2850.0)
(3094.0, 94.22222222222223, None, None)
(3093.0, 89.83333333333333, 525.0, 1820.0)
(3089.0, 81.16666666666667, 350.0, None)
(3088.0, 68.36363636363636, 250.0, 955.0)
(3087.0, 77.0, None, None)
(3085.0, 93.33333333333333, 200.0, 750.0)
(3084.0, 126.41095890410959, 1081.111111111111, 2215.0)
(3083.0, 84.13793103448276, 702.5, 2291.5)
(3082.0, 76.66666666666667, None, None)
(3081.0, 83.65789473684211, 291.42857142857144, 937.5)
(3079.0, 125.47368421052632, 514.9, 1875.0)
(3078.0, 111.20270270270271, 605.0, 2233.875)
(3076.0, 51.529411764705884, 395.0, 1440.0)
(3075.0, 142.8, 200.0, 800.0)
(3074.0, 82.5, None, None)
(3073.0, 273.9264705882353, 399.8888888888889, 1459.625)
(3072.0, 94.15602836879432, 525.4285714285714, 1449.2)
(3071.0, 125.00877192982456, 675.8, 2580.1)
(3070.0, 113.28169014084507, 585.7551020408164, 2429.344827586207)
(3068.0, 126.01298701298701, 801.3157894736842, 2801.842105263158)
(3067.0, 130.62403100775194, 605.1521739130435, 2187.032258064516)
(3066.0, 145.989898989899, 920.078947368421, 3087.230769230769)
(3065.0, 153.84237726098192, 1087.5569620253164, 3734.65)
(3064.0, 71.4047619047619, 185.0, None)
(3063.0, 160.14285714285714, 2000.0, 7000.0)
(3060.0, 49.666666666666664, None, None)
(3059.0, 136.41176470588235, 420.6666666666667, 1612.6666666666667)
(3058.0, 103.10526315789474, 896.0555555555555, 3624.1666666666665)
(3057.0, 154.43243243243242, 595.8421052631579, 2789.6666666666665)
(3056.0, 94.67264573991031, 618.758064516129, 2308.978723404255)
(3055.0, 87.82758620689656, 519.2857142857143, 1725.9333333333334)
(3054.0, 121.39855072463769, 642.5, 1690.888888888889)
(3053.0, 111.76765799256506, 923.5102040816327, 3205.315789473684)
(3052.0, 91.5111111111111, 471.53846153846155, 1633.1333333333334)
(3051.0, 112.23372781065089, 753.5277777777778, 3152.153846153846)
(3049.0, 92.28571428571429, 400.0, None)
(3048.0, 57.5, None, None)
(3047.0, 63.857142857142854, 475.0, None)
(3046.0, 69.03333333333333, 351.0, 1076.6666666666667)
(3044.0, 98.95, 514.2, 1567.5)
(3043.0, 114.82758620689656, 700.0, 1502.0)
(3042.0, 81.57142857142857, 568.2, 1800.75)
(3041.0, 106.125, 350.0, 1500.0)
(3040.0, 114.14285714285714, 787.5, 3366.6666666666665)
(3039.0, 100.98076923076923, 392.5, 1533.3333333333333)
(3038.0, 91.0, 600.0, None)
(3037.0, 66.4375, 426.6666666666667, 1554.3333333333333)
(3036.0, 228.2, None, None)
(3034.0, 127.25, None, None)
(3033.0, 83.64285714285714, 306.6666666666667, 850.0)
(3032.0, 111.61363636363636, 469.8666666666667, 1677.9166666666667)
(3031.0, 119.91489361702128, 645.3888888888889, 2184.090909090909)
(3030.0, 115.74806201550388, 590.0, 2224.6)
(3029.0, 76.15044247787611, 512.8571428571429, 1692.0)
(3028.0, 107.57894736842105, 430.0, 870.0)
(3027.0, 141.64102564102564, 400.0, 1200.0)
(3025.0, 113.76470588235294, None, None)
(3024.0, 75.66666666666667, None, None)
(3023.0, 92.6, 500.0, None)
(3021.0, 81.65, 350.0, 1300.0)
(3020.0, 69.55555555555556, 160.0, 600.0)
(3019.0, 90.46666666666667, 200.0, None)
(3018.0, 85.62162162162163, 732.5, 1550.5)
(3016.0, 191.09459459459458, 612.25, 2119.75)
(3015.0, 132.04615384615386, 706.125, 2002.3333333333333)
(3013.0, 135.609756097561, 923.5714285714286, 2966.090909090909)
(3012.0, 112.63157894736842, 518.0, 2335.0)
(3011.0, 95.6010101010101, 441.9166666666667, 1624.611111111111)
(3008.0, 177.01136363636363, 1025.2758620689656, 3222.8333333333335)
(3006.0, 188.85173501577287, 1239.8272727272727, 4358.556701030928)
(3004.0, 158.27197802197801, 1061.1714285714286, 3759.925925925926)
(3003.0, 130.20599250936328, 760.2, 2629.5)
(3002.0, 200.9796954314721, 956.3793103448276, 3712.714285714286)
(3001.0, 132.5, None, None)
(3000.0, 150.47001187648456, 918.7389558232932, 3407.204651162791)
(2582.0, 104.0, None, None)
(2134.0, 50.0, None, None)
(2010.0, 40.0, None, None)
(0.0, 172.5, None, None)

Ahora aplicamos esta consulta pero a la uni√≥n de las dos tablas

In [ ]:
query6 = """
SELECT * FROM melb_data
LEFT JOIN (
  SELECT zipcode ,  
    AVG(price) as price_mean, 
    AVG(weekly_price) as weekly_price_mean, 
    AVG(monthly_price) as monthly_price_mean
  FROM (
    SELECT 
        CAST(zipcode AS float) as zipcode,
        price,
        weekly_price,
        monthly_price
    FROM melb_data_airbnb
        )
  WHERE zipcode IS NOT NULL
  GROUP BY zipcode
  ORDER BY zipcode DESC
          )
      ON melb_data_airbnb.zipcode = melb_data.Postcode
"""
with engine.connect() as con:
      rs = con.execute(query6)
      print(query6)
      for row in rs:
          print(row)

2022-05-26 21:16:24,786 INFO sqlalchemy.engine.Engine
SELECT * FROM melb_data
LEFT JOIN (
  SELECT zipcode ,
    AVG(price) as price_mean,
    AVG(weekly_price) as weekly_price_mean,
    AVG(monthly_price) as monthly_price_mean
  FROM (
    SELECT
        CAST(zipcode AS float) as zipcode,
        price,
        weekly_price,
        monthly_price
    FROM melb_data_airbnb
        )
  WHERE zipcode IS NOT NULL
  GROUP BY zipcode
  ORDER BY zipcode DESC
          )
      ON melb_data_airbnb.zipcode = melb_data.Postcode

2022-05-26 21:16:24,790 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-05-26 21:16:24,796 INFO sqlalchemy.engine.Engine ROLLBACK

OperationalError: ignored

In [ ]:
df_airbnb.columns.to_list()

['description',
 'neighborhood_overview',
 'street',
 'neighborhood',
 'city',
 'suburb',
 'state',
 'zipcode',
 'latitude',
 'longitude',
 'price',
 'weekly_price',
 'monthly_price']

In [ ]:
query= "SELECT zipcode FROM melb_data_airbnb"
with engine.connect() as con:
      rs = con.execute(query)
      print(query)
      for row in rs:
          print(row)
          break

2022-05-26 21:21:34,286 INFO sqlalchemy.engine.Engine SELECT zipcode FROM melb_data_airbnb
2022-05-26 21:21:34,288 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT zipcode FROM melb_data_airbnb
('3105',)

Este √∫ltimo punto no se puede visualizar por el OperationalError: RIGHT and FULL OUTER JOINs are not currently supported.